:root{
  --color: rgb(117, 106, 106);
  --main-color: rgb(84, 38, 223);
  --align: center;
  --primary-font: 'sans-serif';


 
}
body{
font-family: var(--primary-font);
background-color: var(--color);

}
h1{
    background-color: var(--main-color);
    text-align: var(--align);
  
}

   
#container{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    list-style-type: none;
    gap: 20px;
}
  li{
    animation-name: gradiant;
    animation-duration: calc(var(--i)*1s);
    animation-fill-mode: forwards;
  }
  @keyframes gradiant{
    0%
    {
        color: rgb(20, 17, 17);

    }
    40%{
        color: rgb(10, 238, 238);
    }
    70%{
        color: rgb(27, 235, 121);

    }
    100%{
        color: rgb(228, 13, 217);

        
    }
  }


  
    