
div{
    color: darkblue;
    text-align: center;
    font-size: 60px;
    
    
}
        p{
            display: none;
            background-color: rgb(138, 156, 138);
            padding: 10px;
            border-radius: 15px;
            color: rgb(204, 28, 28);
        }
        div:hover p{
            display: block;
            text-align: center;
            font-size: 50px;
        }
        p::first-line{
            color :rgba(124, 19, 209, 0.877);
            font-variant: small-caps;
        }
     