:root{
  
    --blue: #77671f;
    --white: #17a2e2;
   

}
body{
    background-image: linear-gradient(to right, rgb(241, 203, 203),rgb(236, 187, 95),rgb(250, 250, 157),rgb(99, 243, 99),rgb(144, 144, 240),rgb(222, 180, 252),violet);
}
h1
   {
   color: var(--white);
    text-align: center;
    text-decoration-line: underline;
}
.books{
    display: flex;
    column-gap: 7px;
padding-left: 50px;
padding-right: 10px;
padding-bottom: 10px;
padding-top: 30px;
 margin: auto;
 border: solid;
 border-radius: 70px;
}
.writer
{
    color: var(--blue);
    text-align: center;
    text-shadow: 2px 2px 8px rgb(235, 76, 27);

 
}