body{
    background-color: bisque;
}
    h1{
color: aqua;
text-decoration: underline;
text-align: center;
}
h3{
    color: brown;
    text-align: center;
}


h3::after{
    content: " Technical Assesment!";
}
h3::before{
content: " Hello Leaner,";
}